body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, 
        #FFB3A7,  /* pastel rouge */
        #FFCBA4,  /* pastel orange */
        #FFF2B2,  /* pastel jaune */
        #FFFFFF,  /* blanc */
        #E3A9C0,  /* pastel rose */
        #C774A8,  /* pastel magenta */
        #A95D7B   /* pastel violet */
    );
    display: flex;
    flex-direction: column;
}

header {
    background-color: #343a40;
    color: white;
   
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
}

.auth-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.display-4{
    text-decoration: none;
    color: white;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}