body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #343a40;
    color: white;
   
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
}

.auth-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.display-4{
    text-decoration: none;
    color: white;
}