body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, 
        #FFB3A7,  /* pastel rouge */
        #FFCBA4,  /* pastel orange */
        #FFF2B2,  /* pastel jaune */
        #f7e1f5,  /* blanc */
        #E3A9C0,  /* pastel rose */
        #C774A8,  /* pastel magenta */
        #A95D7B   /* pastel violet */
    );
    display: flex;
    flex-direction: column;
    height: 100%;
    background-attachment: fixed
}

header {
    background-color: #303d4b;
    color: white;
}

.card img {
    max-height: 250px;
    object-fit: cover;
}

.card-img-top {
    height: 100%;
    object-fit: contain;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

footer {
    background-color: #343a40;
}

.auth-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.display-4{
    text-decoration: none;
    color: white;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer {
    background-color: #343a40;
    flex-shrink: 0;
    margin-top: auto;
}

.footer img {
    max-height: 60px; 
    width: auto;
}

.btn-pink {
    color: #fff;
    background-color: #ff69b4;
    border-color: #ff69b4;
}
.btn-pink:hover {
    color: #fff;
    background-color: #ff1493;
    border-color: #ff1493;
}

.btn-purple{
    color: #f0f0f0;
    background-color: #8005b9;
    border-color: #8005b9;
}

.btn-purple:hover{
    color: #f0f0f0;
    background-color: #470168;
    border-color: #470168;
}

.chart-container {
    height: 400px; /* Ajustez cette valeur selon vos besoins */
    width: 100%;
}
#bookingsChart {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 576px) {
    .footer .d-flex {
        flex-direction: column;
        text-align: center;
    }
    .footer img {
        margin-bottom: 0.5rem;
    }



}